<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration message</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <style>
        .globalFont{
            font-family: 'Raleway', sans-serif;
        }
        .header{
            color: #8497ff;
        }
        .centered{
            margin: 5rem;
            border: 1px solid #8497ff;
            background-color: #fefbfe;
            text-align: center;
        }


    </style>
</head>
<body>
<main>
    <section>
        <div class="centered globalFont">
            <h1 class="header">Welcome</h1>
            <p>You have successfully registered on our website </p>
            <p>
                <a href="https://www.google.com/" data-th-href="${confirmationLink}">google</a></p>
        </div>
    </section>
</main>



</body>
</html>